<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title> Async Pipe </mat-card-title>
      <mat-card-subtitle>
        Use the observable directly in your template. Force rerender when the value changes
      </mat-card-subtitle>
      <mat-card-content class="card-content">
        <p>Value : {{observableService.observable | async}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="observableService.incrementAsync()">
          Increment
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title> No async Pipe </mat-card-title>
      <mat-card-subtitle>
        Requires two variable to be able to unsubscribe
      </mat-card-subtitle>
      <mat-card-content class="card-content">
        <p>Value : {{value}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="observableService.incrementNoAsync()">
          Increment
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
