<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-sidenav-container class="app-container">
  <mat-sidenav class="side-nav" mode="side" opened>
    RXJS Exemples
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLink="./async">Async</a>
      <a mat-list-item routerLink="./mapping">Mapping</a>
      <a mat-list-item routerLink="./operator">Operators</a>
      <a mat-list-item routerLink="./subject">Subjects</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
