<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title> Not Mapped </mat-card-title>
      <mat-card-content class="card-content">
        <p>{{response | async | json}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title> Mapping hasAccess </mat-card-title>
      <mat-card-content class="card-content">
        <p>
          {{mappedResponse | async | json}}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
