<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title> Async Subject </mat-card-title>
      <mat-card-subtitle>
        Emits its last value on completion
      </mat-card-subtitle>
      <mat-card-content class="card-content">
        <p>
          Value: {{ asyncService.observable | async}}
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="openAsyncSub()">Log subject</button>
        <button mat-button (click)="asyncService.increment()">Increment</button>
        <button mat-button (click)="asyncService.complete()">Complete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title> Behavior Subject </mat-card-title>
      <mat-card-subtitle>
        Requires an initial value and emits the current value to new subscribers
      </mat-card-subtitle>
      <mat-card-content class="card-content">
        <p>
          Value: {{ behaviorService.observable | async}}
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="openBehaviorSub()">Log subject</button>
        <button mat-button (click)="behaviorService.increment()">Increment</button>
        <button mat-button (click)="behaviorService.complete()">Complete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title> Subject </mat-card-title>
      <mat-card-subtitle>
        A special type of Observable which shares a single execution path among observers
      </mat-card-subtitle>
      <mat-card-content class="card-content">
        <p>
          Value: {{ normalService.observable | async}}
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="openNormalSub()">Log subject</button>
        <button mat-button (click)="normalService.increment()">Increment</button>
        <button mat-button (click)="normalService.complete()">Complete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title> Replay Subject </mat-card-title>
      <mat-card-subtitle>
        "Replays" or emits old values to new subscribers
      </mat-card-subtitle>
      <mat-card-content class="card-content">

        <p>
          Value: {{ replaySubject.observable | async}}
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="openReplaySub()">Log replay</button>
        <button mat-button (click)="replaySubject.increment()">Increment</button>
        <button mat-button (click)="replaySubject.complete()">Complete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
