<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title> Pluck </mat-card-title>
      <mat-card-content class="card-content">
        <p>Value : {{ pluck$ | async }}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-title> First </mat-card-title>
      <mat-card-content class="card-content">
        <p>Value : {{first$ | async}} </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
